# https://github.com/vSzemkel/Manam.git
# https://vszemkel.visualstudio.com/DefaultCollection/_git/Manam

*.aps
*.db
*.man
*.suo
*.user
*.opendb

.vs/
.vscode/
ipch/
vcpkg_installed/

/**/x64
/**/x86
/Manam-cppcheck*
/Oracle.ManagedDataAccess.dll


