# https://github.com/vSzemkel/Manam.git
# https://vszemkel.visualstudio.com/DefaultCollection/_git/Manam

*.aps
*.db
*.suo
*.user
*.opendb

.vs/
.vscode/
ipch/

/**/x64
/**/x86
/Oracle.ManagedDataAccess.dll


