# https://github.com/vSzemkel/Manam.git
# https://vszemkel.visualstudio.com/DefaultCollection/_git/Manam

*.aps
*.db*
*.suo
*.user

.vs/
.vscode/
ipch/

/**/x64
/**/x86
/Manam.VC.db
/Manam.VC.VC.opendb
/Oracle.ManagedDataAccess.dll


